# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

# misc
.DS_Store
npm-debug.log*

# doc
/doc

/.awcache
/package-lock.json
/src/public/Thumbs.db